<h1>What is a Computer Network?</h1>
<div>
  <p>
    Computer Network is a group of computers connected with each other through
    wires, optical fibres or optical links so that various devices can interact
    with each other through a network.
  </p>
  <p>
    Computer Network is a group of computers connected with each other through
    wires, optical fibres or optical links so that various devices can interact
    with each other through a network.
  </p>
  <p>
    In the case of computer network technology, there are several types of
    networks that vary from simple to complex level.
  </p>
</div>
<a href="/logout">Logout</a>
